{% extends 'blog/base.html' %}
{% load static %}


{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">My Archived Messages</h2>
        
    <div id="notification-container">
            <p id="notification-message"></p>
    </div>
    
    
        
    <ul id="message-list" class="list-group"  data-check-messages-url="{% url 'check_new_messages' %}">
            {% for privatemessage in privatemessages %}
            <li class="list-group-item list-group-item-light inbox-list-item">
                <div class="d-flex justify-content-between align-items-center">     
                    <div>
                        <a href="{% url 'view_item' privatemessage.pk %}">{{ privatemessage.subject }}</a>
                            <br>
                            <span>From: {{ privatemessage.author.username }}</span>
                            
                    </div>
                    <div class="text-muted">
                        <span class="timestamp">{{ privatemessage.timestamp }}</span>
                    </div>
                    <div>
                        <a href="{% url 'unarchive_message' privatemessage.pk %}" class="btn btn-sm btn-warning">Remove</a>
                        <a href="{% url 'item_confirm_delete' privatemessage.pk %}" class="btn btn-sm btn-danger">Delete</a>
                    </div>        
                </div>        
            </li>
            {% endfor %}
        </ul>
</div>
        
        
{% endblock %}