{% extends 'blog/base.html' %}
{% block content %}
    <h2>My Inbox</h2>
    <ul>
        {% for privatemessage in privatemessages %}
        <li>
                       
            <a href="{% url 'view_item' privatemessage.pk %}">{{ privatemessage.subject }}</a>
                <br>
                <span>From: {{ privatemessage.author.username }}</span>
                <span class="timestamp">{{ privatemessage.timestamp }}</span>
        </li>
        {% endfor %}
    </ul>
{% endblock %}    