{% extends 'blog/base.html' %}
{% load static %}


{% block content %}

<h2>My Inbox</h2>
    
<div id="notification-container" style="display: none; background-color: #f8d7da; color: #721c24; padding: 10px; border: 1px solid #f5c6cb; margin-bottom: 10px; border-radius: 5px;">
        <p id="notification-message"></p>
    </div>
    <!-- <input type="hidden" id="Url" data-url="{% url 'myapp:productdetail' id %}" /> -->
    <ul id="message-list" data-check-messages-url="{% url 'check_new_messages' %}">
        {% for privatemessage in privatemessages %}
        <li>
                       
            <a href="{% url 'view_item' privatemessage.pk %}">{{ privatemessage.subject }}</a>
                <br>
                <span>From: {{ privatemessage.author.username }}</span>
                <span class="timestamp">{{ privatemessage.timestamp }}</span>
        </li>
        {% endfor %}
    </ul>

    
    <script src="{% static 'private_message/js/notifications.js' %}"></script>
{% endblock %}


    
